{
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "singleQuote": false,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "printWidth": 110,
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss"]
}
