@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap");

@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(0.9765 0.0054 274.9666);
    --foreground: oklch(0.3833 0.0399 250.25);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.3833 0.0399 250.25);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.3833 0.0399 250.25);
    --primary: oklch(0.5823 0.1203 271.7469);
    --primary-foreground: oklch(0.9765 0.0054 274.9666);
    --secondary: oklch(0.8852 0.0409 273.3215);
    --secondary-foreground: oklch(0.3833 0.0399 250.25);
    --muted: oklch(0.8867 0.021 274.0128);
    --muted-foreground: oklch(0.5401 0.0482 257.1657);
    --accent: oklch(0.7947 0.1787 333.9308);
    --accent-foreground: oklch(0.3467 0.1013 335.1693);
    --destructive: oklch(0.6748 0.2469 353.9763);
    --destructive-foreground: oklch(0.9765 0.0054 274.9666);
    --border: oklch(0.8377 0.033 272.2103);
    --input: oklch(0.9268 0.0192 276.3362);
    --ring: oklch(0.5823 0.1203 271.7469);
    --chart-1: oklch(0.5823 0.1203 271.7469);
    --chart-2: oklch(0.7947 0.1787 333.9308);
    --chart-3: oklch(0.7786 0.1854 145.62);
    --chart-4: oklch(0.7529 0.1483 25.1248);
    --chart-5: oklch(0.9114 0.1054 201.4272);
    --sidebar: oklch(0.9524 0.0125 271.284);
    --sidebar-foreground: oklch(0.3833 0.0399 250.25);
    --sidebar-primary: oklch(0.5823 0.1203 271.7469);
    --sidebar-primary-foreground: oklch(0.9765 0.0054 274.9666);
    --sidebar-accent: oklch(0.7947 0.1787 333.9308);
    --sidebar-accent-foreground: oklch(0.3467 0.1013 335.1693);
    --sidebar-border: oklch(0.8613 0.0307 277.5414);
    --sidebar-ring: oklch(0.5823 0.1203 271.7469);
    --font-sans: Oxanium, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.05em;
}

.dark {
    --background: oklch(0.1149 0.0413 264.1192);
    --foreground: oklch(0.9074 0.0328 262.6918);
    --card: oklch(0.1988 0.0406 273.6117);
    --card-foreground: oklch(0.9074 0.0328 262.6918);
    --popover: oklch(0.2571 0.0406 263.4776);
    --popover-foreground: oklch(0.9074 0.0328 262.6918);
    --primary: oklch(0.6247 0.1256 275.2767);
    --primary-foreground: oklch(0.2181 0.0296 263.667);
    --secondary: oklch(0.4569 0.0671 266.6915);
    --secondary-foreground: oklch(0.9074 0.0328 262.6918);
    --muted: oklch(0.2549 0.046 265.4298);
    --muted-foreground: oklch(0.6865 0.0437 273.0751);
    --accent: oklch(0.2863 0.0596 281.964);
    --accent-foreground: oklch(0.8424 0.1274 335.2096);
    --destructive: oklch(0.7099 0.2175 350.9482);
    --destructive-foreground: oklch(0.2181 0.0296 263.667);
    --border: oklch(0.3099 0.0486 262.8257);
    --input: oklch(0.2922 0.0464 260.0109);
    --ring: oklch(0.6647 0.1256 275.2767);
    --chart-1: oklch(0.6647 0.1256 275.2767);
    --chart-2: oklch(0.8424 0.1274 335.2096);
    --chart-3: oklch(0.7786 0.1854 145.62);
    --chart-4: oklch(0.7529 0.1483 25.1248);
    --chart-5: oklch(0.9114 0.1054 201.4272);
    --sidebar: oklch(0.2007 0.0302 263.5405);
    --sidebar-foreground: oklch(0.9074 0.0328 262.6918);
    --sidebar-primary: oklch(0.6647 0.1256 275.2767);
    --sidebar-primary-foreground: oklch(0.2181 0.0296 263.667);
    --sidebar-accent: oklch(0.2863 0.0596 281.964);
    --sidebar-accent-foreground: oklch(0.8424 0.1274 335.2096);
    --sidebar-border: oklch(0.2922 0.0464 260.0109);
    --sidebar-ring: oklch(0.6647 0.1256 275.2767);
    --font-sans: Oxanium, sans-serif;
    --font-serif: "Lora", Georgia, serif;
    --font-mono: "Fira Code", "Courier New", monospace;
    --radius: 0rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
        0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);

    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-normal: var(--tracking-normal);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
    letter-spacing: var(--tracking-normal);
    font-family: var(--font-sans);
}
@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply font-semibold text-[2.5rem] leading-[3.25rem] md:text-[2.75rem] md:leading-[3.75rem] lg:text-[3.25rem] lg:leading-[4.0625rem] xl:text-[3.75rem] xl:leading-[4.5rem];
    }

    h2 {
        @apply text-xl font-semibold leading-normal md:text-[2.5rem];
    }

    p {
        @apply text-sm text-white/80;
    }

    .section {
        @apply max-w-[77.5rem] mx-auto px-5 pt-8 md:px-10 lg:px-15 xl:max-w-[87.5rem];
    }
}
