<html>
    <body>
        <p>
            Hello fellow UofT Student!
            <br />
            <br />
            Thank you for joining UofT Webring!
            <br />
            <br />
            To complete the authentication process, please use the following
            6-digit verification code:
        </p>
        <div style="display: flex; justify-content: center">
            <div>
                <h2
                    style="
                        background: rgb(225, 230, 244, 0.5);
                        border-radius: 0.5em;
                        padding: 0.5em 5em;
                        font-size: 2em;
                        letter-spacing: 0.3em;
                    "
                >
                    {{ .Token}}
                </h2>
            </div>
        </div>
        <p>
            Thanks,
            <br />
            <br />
            UofT Webring Team
        </p>
    </body>
</html>
